* {
    font-family: sans-serif;
    font-size: x-large;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
}

input {
    width: 100%;
    margin-bottom: 0.5rem;
}

.item-group {
    width: fit-content;
    border-radius: 0.5rem;
}

.item {
    margin: 0.25rem;
    padding: 0.5rem;
    width: 75vw;
    max-width: 500px;
    min-width: 300px;
    height: fit-content;
    background-color: slateblue;
    border: solid white 0.1rem;
    border-radius: 0.5rem;
}